* {
    padding: 0;
    margin: 0;
}

/* css for header section */
.header {
    width: 100%;
    background-color: black;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(images/back.jpg);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    position: relative;
    font-family: Montserrat, Roboto, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2% 4%;
    background-color: #011627;
    max-height: 70px;
}

nav .logo {
    width: 100px;
}

nav .heading {
    width: 250px;
    position: relative;
    right: 2%;
    bottom: 15px;

}

nav a {
    text-decoration: none;
}

.nav-links {
    flex: 1;
    text-align: right;

}

.nav-links li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    font-weight: 500;
    position: relative;

}

.nav-links a {
    color: white;
    text-decoration: none;
}

.nav-links li ::after {
    content: '';
    width: 0%;
    background: #E30B21;
    transition: 0.5s;
    height: 2px;
    display: block;
    margin: auto;
}

.nav-links li :hover::after {
    width: 100%;
}

.centerbuttons {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.orderbutton {
    padding: 8px 16px;
    background-color: #ba181b;
    color: #fdf0d5;
    margin: 0.5em;
    border-radius: 10px;
    border: 2px #ba181b solid;
    position: relative;
    cursor: pointer;
    font-weight: 700;
    display: inline-block;
    font-size: 15px;
    font-family: Roboto, sans-serif;
    transition: 1s;
    text-transform: uppercase;

}

nav .fa-solid {
    display: none;
}


.orderbutton:hover {
    background-color: #660708;
    transition: 0.35s ease-in;
    color: #fdf0d5;
    border: 2px #660708 solid;
    box-shadow: 0px 0px 20px 0px black;

}

@media (max-width:850px) {
    .orderbutton {
        font-size: 15px;
    }

    .nav-links li {
        display: block;
        padding: 5% 8%;
    }

    .nav-links {
        position: fixed;
        min-height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        background-color: #e5383b;
        transition: 1s;
    }

    nav .fa-solid {
        display: block;
        color: white;
        margin: 10px;
        font-size: 15px;
        cursor: pointer;

    }

    nav ul {
        padding: 15px;
    }

    nav .logo {
        width: 70px;
    }

    nav .heading {
        width: 150px;
    }

    .header {
        min-height: 80vh;
    }
}

/* CSS for about us */
.aboutus {
    padding-top: 50px;
    width: 100%;
    text-align: center;
    color: white;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/aboutus.avif);
    background-position: center;
    background-size: cover;
    min-height: 30vh;
    position: relative;

}

.abouthead {
    font-family: Montserrat, cursive;
    font-size: 2em;
    font-weight: 700;
}

.aboutpara {
    font-family: Roboto, sans-serif;
    font-size: 1em;
    padding-top: 20px;
    padding-bottom: 10px;
    font-weight: 300;
    font-style: italic;
    width: 40%;
    margin: auto;
}

@media (max-width:850px) {
    .aboutpara {
        width: 70%;
        padding-top: 20px;
    }

    .aboutus {
        min-height: 40vh;
        padding-top: 60px;
    }
}

.practices {
    padding-top: 50px;
    font-family: Pangolin, sans-serif;
    background-color: #0b090a;
}

.aboutprac {
    text-align: center;
    font-family: Montserrat, cursive;
    font-size: 2em;
    font-weight: 700;
    text-transform: uppercase;
    color: white
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;

}

.prac-column {
    margin-top: 5%;
    flex-basis: 31%;
    border-radius: 10px;
    box-sizing: border-box;
    margin-bottom: 5%;
    padding: 10px 20px;
    background-color: #E30B21;
    color: #fdf0d5;
    text-align: center;
    margin-bottom: 5%;
    transition: 0.5s;
    cursor: pointer;

}

.prachead {

    font-weight: 700;
    margin-bottom: 5%;
    font-size: 25px;
    text-transform: uppercase;
    font-family: Montserrat, cursive;
    text-shadow: 1px 2px 3px black;
}

.prac-column .fa-solid {
    font-size: 2em;
    padding: 12px;
    border: 4px #660708 solid;
    border-radius: 50%;
    margin-bottom: 10px;
    background-color: #660708;

}

.prac-column:hover {
    box-shadow: 0 0 20px 0 rgba(250, 250, 250, 0.5);
}

@media (max-width:850px) {
    .row {
        flex-direction: column;
    }
}

/* css for outlets */
.outlets {
    width: 100%;
    margin: auto;
    padding-top: 50px;
    text-align: center;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    background-color: #0b090a;
}

.out-column {
    flex-basis: 32%;
    position: relative;
    margin-bottom: 30px;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 50px;
}

.rest {
    width: 100%;
    height: 30vh;
    display: block;
}

.layer {
    background-color: transparent;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.layer:hover {
    background-color: rgba(226, 0, 0, 0.7);
}

.layer h3 {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    color: white;
    font-weight: 500;
    width: 100%;
    opacity: 0;
    transition: 0.5s;
}

.layer:hover h3 {
    bottom: 49%;
    opacity: 1;
}

.outlets h1 {
    font-weight: 700;
    font-size: 2em;
    color: white;
}

/* reviews css */
.reviews {
    width: 100%;
    margin: auto;
    padding-top: 50px;
    text-align: center;
    font-family: Montserrat, sans-serif;
    background-color: #0b090a;
    color: white;

}

.revcol {
    font-family: Montserrat, sans-serif;
    flex-basis: 42%;
    position: relative;
    margin-bottom: 30px;
    border-radius: 10px;
    margin-top: 50px;
    cursor: pointer;
    background-color: rgba(102, 7, 8, 0.5);
    text-align: center;
    padding: 30px;
    align-items: center;
    transition: 0.5s;

}

.revcol p {
    width: 82%;
    padding: 10px;
    margin: auto;
}

#userlogo {
    font-size: 1.5em;
    padding: 12px;
    border-radius: 50%;
    margin-bottom: 10px;
    margin-right: 10px;
    border: 1px grey solid;
    background-color: grey;
}

#star {
    font-size: 1.5em;
    color: gold;
    border: none;
    padding-bottom: 30px;

}

.reviews h2 {
    font-weight: 700;
    font-size: 2em;
    color: white;
}

.revcol h4 {
    font-size: 30px;
    font-weight: 700;
    color: wheat;
    font-family: Pangolin, cursive;
    display: inline-block;
}

.revcol:hover {
    box-shadow: 0 0 20px 0 rgba(168, 70, 70, 0.5);
}

@media (max-width:850px) {

    .out-column {
        margin-bottom: 0;
        margin-top: 40px;

    }

    .out-column:nth-child(3) {
        margin-bottom: 40px;
    }

    .revcol {
        margin-bottom: 0;
        margin-top: 40px;

    }

    .revcol:nth-child(2) {
        margin-bottom: 40px;
    }
}

/* CONTACT US CSS */
.contact {

    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/noodles.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 100px 0;
}

.contact h1 {
    font-weight: 700;
    font-style: italic;
    font-size: 40px;
    color: azure;
    font-family: Montserrat, Roboto, sans-serif;
    margin-bottom: 30px;
}

.contact a {
    text-decoration: none;
    color: azure;
    border: 3px azure solid;
    background-color: transparent;
    text-align: center;
    padding: 10px;
    font-family: Montserrat, Roboto, sans-serif;
    font-weight: 600;
    font-size: 25px;
    transition: 0.65s;
    border-radius: 10px;
}

.contact a:hover {
    background-color: #ba181b;
}

@media (max-width:850px) {

    .contact h1 {
        font-size: 20px;
        width: 80%;
        margin: 30px auto;
    }

    .contact a {

        font-size: 15px;
    }
}

/* css footer */

.footer {
    padding-top: 100px;
    width: 100%;
    text-align: center;
    background-color: #011627;
    font-family: Roboto, sans-serif;

}

.footer img {
    width: auto;
    height: 100px;
}

.social {
    color: azure;
    padding: 15px;
}

.social h4 {
    font-size: 20px;
    text-transform: capitalize;
    font-style: italic;
}

.social .fa-brands {
    padding: 7px;
    font-size: 20px;
}

.social h6 {
    padding: 10px;
    font-size: 15px;
}

#fb:hover,
#linkedin:hover,
#tweet:hover {
    color: blue;
    cursor: pointer;
}

#insta:hover {
    color: #ff8fa3;
    cursor: pointer;
}

.footer a {
    text-decoration: none;
    color: azure;
}

@media (max-width:850px) {
    .footer {
        padding-top: 60px;
    }

    .footer img {
        height: 50px;
    }

    .social h4 {
        font-size: 15px;
    }

    .social h6,
    .fa-brands {
        font-size: 12px;
    }
}